<config
	lang="master"
	langs=""

	host="localhost"
	name = "my sugoi app"
	default_email = ""
	webmaster_email = ""
	
	database="mysql://docker:docker@mysql/db"
	sqllog="0"
	
	debug="0"
	cache="1"
	maintain="0"
	cachetpl="0"

	key="whateveryouwant"

	smtp_host="ssl0.ovh.net"
	smtp_user="email@host.tld"
	smtp_port="465"
	smtp_pass="password"
/>