{% extends "design.twig" %}

{% block content %}

<div style="border:#CCC 2px solid;margin:24px;padding:24px;border-radius:8px;">
    <div class="row text-center">
        <h2>
            Les fermes que vous avez référencé :
        </h2>
        
    </div>
    <div class="row" >
        <div class="col-md-4"></div>
        <div class="col-md-4">
            
            <ul>
                {% for r in results %}
                <li>
                    <a href="/answers?choose={{r.dataset}}">{{r.answer}}</a>
                </li>
                {% else %}
                <p class="text-center" cond results.length==0>
                        Aucune ferme référencée pour l'instant.
                    </p>
                {% endfor %}
            </ul>
            <p class="text-center">
                <a href="/answers?new=1" class="btn btn-primary">Référencer une nouvelle ferme</a>
            </p>   
        </div>  
    </div>
</div>

{% endblock %}