.table .table{
    background-color: white !important;
}

div.panel > div.panel-heading {

    text-align: center;
    font-weight: bolder;
    color: #235812;
    font-size:22px;
    /*text-shadow: black 2px 2px 2px;*/


} 

div.panel > div.panel-img {
    background: url("/img/bg0.jpg") no-repeat center /*fixed*/;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    height: 120px;
}    


span.qid{
    margin-right: 8px;
    color:#FFF;
    background: #CCC;
    border-radius: 3px;
    padding: 2px;
    /*font-weight: bold;*/
    font-size: 0.8em;
    position: absolute;
    /*top: -15px;*/
    left: -40px;
}


    